.navbar {
  background-color: #FFC0CB !important; /* Light Pink with !important to override defaults */
  color: #4B0082; /* Dark Purple */
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.icon {
  color: #4B0082; /* Dark Purple */
  font-size: 24px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  color: #4B0082; /* Dark Purple */
}

  